
@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  color: #5A5A5A;
  letter-spacing: 1px; }
  
.site-header-name {
  font-size: 2.5rem;
}

.site-header-name:hover {
  text-decoration: none;
}

.nav-bar {
  margin-bottom: 2em;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.nav>a {
  color: #919aa1;
  text-transform: uppercase;
}

.nav>a:hover {
  text-decoration: none;
  background-color: #1a1a1a;
  color: #fff;
}

a {
  color: #008C46;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
a:hover {
  color: #15698c;
  text-decoration: underline; }

.blog-split {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.blog-post-title:hover {
  text-decoration: none;
}

//Start asciidoc-css mit fontawsome-einbindung
.admonitionblock {text-rendering:optimizeLegibility;text-align:left;font-style:italic}
.admonitionblock>table{border-collapse:separate;border:0;background:none;width:100%}
.admonitionblock>table td.icon{text-align:center;width:80px}
.admonitionblock>table td.icon img{max-width:none}
.admonitionblock>table td.icon.title{font-style: italic}
.admonitionblock>table td.content{font-style: normal;padding-left:1.125em;padding-right:1.25em;border-left:1px solid #dddddf;color:rgba(0,0,0,.6)}
.admonitionblock td.content>.title{font-style: italic}
.admonitionblock>table td.content>:last-child>:last-child{margin-bottom:0}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note::before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip::before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning::before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution::before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important::before{content:"\f06a";color:#bf0000}
//Ende asciidoc-css

.site-pagination {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.site-footer {
  padding: 2.5rem 0;
  color: #919aa1;
  text-align: center;
  background-color: #f7f7f9;
}