{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!-- BLOG POST -->
<div class="blog-post">
  <h1 class="blog-post-title">{{ this.title }}</h1>
  {{ this.body }}
</div>
<!-- END BLOG POST -->

</div>
<!-- END MAIN BODY -->

<!-- SIDEBAR -->
<aside class="col-md-4">
  <div class="p-3 mb-3 bg-light rounded">
    <h4>Über</h4>
    <p class="mb-0">
      <img src="{{ '/static/img/petersell-profilbild.jpg'|url }}" alt="Andreas Petersell">
      Personal blog of a Technical Writer (DITA), European Citizen and Co-Founder of <a href="https://github.com/jobikado">Jobikado</a>.
    </p>
  </div>

  <div class="p-3">
    <h4>Follow Me</h4>
    <ol class="list-unstyled">
      <li><a href="https://twitter.com/petersell">Twitter @petersell</a></li>
      <li><a href="https://mastodon.social/@diagonale">Mastodon</a></li>
      <li><a href="https://www.petersell.com/photos/">Fotos</a></li>
      <li><a href="https://pixelfed.de/putbus">Pixelfed</a></li>
      <li><a href="https://github.com/petersell">Github Petersell</a></li>
      <li><a href="https://twitter.com/jobikado">Twitter @jobikado</a></li>
      <li><a href="https://github.com/jobikado">Github Jobikado</a></li>
      <li><a href="https://www.operation-teamwork.de/">Operation Teamwork</a></li>
    </ol>
  </div>
</aside>
<!-- END SIDEBAR -->
{% endblock %}