{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!-- BLOG POST -->
<div class="blog-post">
  <h1 class="blog-post-title">{{ this.title }}</h1>
  {{ this.body }}
</div>
<!-- END BLOG POST -->

</div>
<!-- END MAIN BODY -->

<!-- SIDEBAR -->
<aside class="col-md-4">
  <div class="p-3 mb-3 bg-light rounded">
    <h4>Über</h4>
    <p class="mb-0">
      Personal blog of a Technical Writer (DITA), European Citizen and Co-Founder of <a href="https://github.com/jobikado">Jobikado</a>.
    </p>
  </div>

  <div class="p-3">
    <h4>Follow Me</h4>
    <ol class="list-unstyled">
      <li><a href="https://twitter.com/petersell" title="Andreas auf Twitter" rel="me"><i class="fa fa-lg fa-twitter"></i>&nbsp;@petersell</a></i></li>
      <li><a href="https://mastodon.social/@diagonale" title="Andreas auf Mastodon" rel="me">Mastodon</a></li>
      <li><a href="https://www.petersell.com/photos/" title="Meine Fotos" rel="me">Fotos</a></li>
      <li><a href="https://pixelfed.de/putbus" title="Andreas auf Pixelfed" rel="me">Pixelfed</a></li>
      <li><a href="https://github.com/petersell" title="Andreas auf Github" rel="me"><i class="fa fa-lg fa-github"></i>&nbsp;@petersell</a></li>
      <li><a href="https://www.operation-teamwork.de/" title="Mein Traumteam">Operation Teamwork</a></li>
    </ol>
  </div>
</aside>
<!-- END SIDEBAR -->
{% endblock %}